profiles {

   standard {
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: MINIMAP2_SAM{
               conda = "${baseDir}/cramino.yml"
         }
         withName: SAM_SORT_AND_INDEX{
               conda = "${baseDir}/cramino.yml"
         }
         withName: CRAMINO{
               conda = "${baseDir}/cramino.yml"
         }
         
      }

   }

}
